.Btn_Start {
    padding: 0px 10px;
    border: none;
    background-color: #000000;
    background-image: url('../../../public/Img/ButtonStart.png');
    background-size: cover; /* Faz a imagem de fundo cobrir toda a div */
    background-position: center; /* Centraliza a imagem de fundo */
    border-left: 0px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 22px;
    width: 130px;
    height: 100%;
    cursor: pointer;
    align-items: center;
    justify-content: start;
    display: flex;
  }
  