.Container {
    background-image: url('../../../public/Img/BackGroundWindows.jpg');
    background-size: cover; /* Faz a imagem de fundo cobrir toda a div */
    background-position: center; /* Centraliza a imagem de fundo */
    width: 100vw; /* Ajuste para compensar as margens */
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semi-transparente */
    position: relative;
    z-index: 1;
}